<h1><%= @post.name  %></h1>
<h1><%= @post.content  %></h1>
<form action="/posts/<%= @post.id %>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete" />
</form>
